
{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Enter new password {% endblock %}

{% block content %}

<div class="container">

<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">
                    <center> <h3>Enter new password</h3></center>

                    <form action="" method="POST">{% csrf_token %}

                        {{ form|bootstrap }}

                        <div class="row form-group">
                            <div class="col-md-12">
                                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                                <input type="submit" value="Update Password" class="btn btn-primary btn-md text-white">
                                <a href="{% url 'accounts:login' %}"></a>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>

{% endblock %}