{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Password reset sent {% endblock %}

{% block content %}

<div class="container">

<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">
                    <center> <h3>Password reset sent</h3></center>

                    <form action="" method="POST">{% csrf_token %}

                        {{ form|bootstrap }}

                        <div class="row form-group">
                            <div class="col-md-12">
                                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

                                <input type="submit" value="Send email" class="btn btn-primary btn-md text-white">
                                
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>

{% endblock %}