{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Password reset sent {% endblock %}

{% block content %}

<div class="container">

<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">
                    <center> <h3>Password reset sent</h3></center>

                    <form method="POST">{% csrf_token %}

                       

                        <div class="row form-group">
                            <div class="col-md-12">
                                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                                
                                <a href="{% url 'accounts:password_reset' %}">Resend Email</a>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>

{% endblock %}